

a:link {
    color: #c9c9c9 !important;
    text-decoration: none !important;
}

a:visited {
    color: #c9c9c9 !important;
}

a:active {
    color: #ffffff !important;
    background-color: #ff768e !important;
}

a:hover {
    background-color: #ff768e !important;
    color: #ffffff !important;
}

a:focus {
    background-color: #ff768e !important;
    color: #ffffff !important;
}

.content-color {
    background-color: #ff768e;
    min-height: 20rem;
    text-align: center;
    color: #ffffff;
    vertical-align: middle !important;
}

.btn-sneak{
    color: #ff768e !important;
    background-color: #ffffff !important;
}

.title{
    letter-spacing: 1rem;
}

.icon-sneak{
    margin: 40px 10px;
    color: #ff768e;
}

.link-sneak{
    margin: 50px 10px !important;
    height: 20px;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.grid-sneak{
    text-align: center !important;display: flex;
    justify-content: center;
}

.grid-son{
    margin: 0 auto !important;
}
